.attributesParent{
    width: 800px;
    overflow-x: auto;
    height: 50px;
    display: inline-block;
    overflow-x: visible;
}

.attributesParent > span{
    font-size: 13px;
}
.attributesParent > span{
    padding: 0px 4px;
    border: 1px solid #d2d2d2;
    margin: 2px;
    display: inline-block;
    background-color: #F2F2F2;
    float: left;
}

.attributesParent span.header{
    font-weight: bold;
    border-bottom: 1px solid #999;
    width: 100%;
}

button{
    margin-right: 10px;
}
select, input[type=text]{
    width: 20% !important;
    min-width: 250px;
}
p.filters{
    display: inline-block;
    margin-top: 10px;
}
p.filters label{
    float: left;
    margin-right: 10px;
}

.pagination_table input[type=text]{
    width: 70px !important;
    min-width: 70px;
    margin-right: 20px;
    text-align: center;
}
.pagination_table button{
    margin: 0
}
.pagination_table .btns{
    float: left;
    margin-right: 10px;
}

input.search{
    min-width: 200px !important;
    text-align: left !important;
    float: left
}

.label_pagination{
    padding: 7px;
    border: 1px solid;
    background-color: #fff;
    border-color: #ccc;
}

.tablaDatos{
    width: 100%;
}

.reporting label{
    display: block;
}
